.screenGame {
  width: 1000px;
  height: 500px;
  background-color: whitesmoke;
  display: flex;
  position: relative;
  background-image: url('../public/Images/background-flappy.webp');
  background-size: cover;
  background-position-y: 554px;
}
.bird {
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('../public/Images/184-1842460_flappy-bird-bird-png-transparent-png.png');
  background-size: cover;
  background-position-x: -1px;
  padding: 0px 3px;
  border-radius: 10px;
}

.start {
  width: 100px;
  position: absolute;
  height: 50px;
  background-color: blue;
  top: 250px;
  left: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
.pipe {
  position: absolute;
  background-color: green;
}
.score {
  position: absolute;
  left: 500px;
  color: white;
  font-size: 22px;
  text-shadow: 0px 0px 2px #000000;
}
.WindowGame {
  display: flex;
  justify-content: center;
}
